[submodule "pico_sdk_hardware_timer/Unity"]
	path = pico_sdk_hardware_timer/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "pico_sdk_hardware_timer/universal_hardware_timer"]
	path = pico_sdk_hardware_timer/universal_hardware_timer
	url = https://github.com/CamrenChraplak/universal_hardware_timer
[submodule "esp_idf_hardware_timer/components/universal_hardware_timer"]
	path = esp_idf_hardware_timer/components/universal_hardware_timer
	url = https://github.com/CamrenChraplak/universal_hardware_timer
